

* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  padding: 40px;
}
input {
  border-color: lawngreen;
  font-size: 1.2rem;
  color: rgb(24, 141, 145);
  width: 100%;
}

.card{
  align-content: center;
  border: 1px solid green;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 100px;
  overflow: hidden;

}
.car p {
  padding: 5px;
  text-align: center;
}
.card img {
  max-height: 180px;
}
.contenedor-de-cartas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}